body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: white;
  line-height: 0;
}

h2 {
  color: white;
  font-size: large;
  margin: 0;
}

#numberDisplay {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(6, 80px);
  gap: 7px;
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 30px;
}

.numberSplit {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #504f4f;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
